<div id="<%= dom_id gym_class %>">
  <p>
    <strong>Name:</strong>
    <%= gym_class.name %>
  </p>

  <p>
    <strong>Schedule:</strong>
    <%= gym_class.schedule %>
  </p>

  <p>
    <strong>Trainer:</strong>
    <%= gym_class.trainer_id %>
  </p>

</div>
